/*
 * Globals
 */
body {
  font-family: Helvetica, Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */
.masthead {
  background-color: #f4994b;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #ffe4cd;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.nav .active {
  color: #fff;
}
.nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.main {
  padding-top: 20px;
}

table td, table th {
  text-align: center;
}

.discipline-swim {
  background-color: #d9edf7;
}

.discipline-transit {
  background-color: #fcf8e3;
}

.discipline-bicycle {
  background-color: #f2dede;
}

.discipline-run {
  background-color: #dff0d8;
}

.races {
  margin-top: 20px;
}

.race {
  margin-bottom: 20px;
}

.crystal-logo {
  width: 400px;
}

.search-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-form input.form-control {
  width: 70%;
  display: inline-block;
  max-width: 400px;
}

.search-form button {
  width: 15%;
  min-width: 100px;
  max-width: 150px;
}

.best .item {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 10px;
}

.best {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .search-form input.form-control {
    width: 60%;
  }

  .wide {
    width: 100%;
  }

  .results {
    overflow: scroll;
  }

  .results table {
    width: 100%;
  }
}

.users-comparison-container {
  display: flex;
}

.user-comparison-container {
  padding: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.user-comparison-results {
  display: flex;
  flex-direction: column;
}

.user-comparison-result .row {
  display: flex;
  flex-direction: column;
}

.user-info {
  padding: 10px 0;
}
